<div class="container list-header">
  <!-- top heading -->
  <div class="list-heading">
    <i
      class="far fa-share-square"
      title="Go to crate"
      routerLink="/item-crate"
    ></i>
    Pick List
  </div>
  <!-- item summery row -->
  <div class="row heade">
    <div class="col">
      <span>{{ pending }}</span>
      <br />
      <span class="list-font">PENDING</span>
    </div>
    <div class="col">
      <span>{{ picked }}</span>
      <br />
      <span class="list-font">PICKED</span>
    </div>
    <div class="col">
      <span>{{ notFound }}</span>
      <br />
      <span class="list-font">NOT FOUND</span>
    </div>
    <div class="col">
      <span>{{ quantity }}</span>
      <br />
      <span class="list-font">QTY</span>
    </div>
  </div>
</div>
<!-- List -->
<div *ngFor="let item of pickList">
  <div class="container">
    <!-- list item card -->
    <mat-card [ngStyle]="{ 'background-color': getbackColor(item) }">
      <!-- list item top details -->
      <div class="d-flex justify-content-between">
        <div>
          <span>{{ item.binNumber }}</span>
          <br />
          <span class="list-font">BIN</span>
        </div>
        <div>
          <span>{{ item.barcode }}</span>
          <br />
          <span class="list-font">SKU Barcode</span>
        </div>
      </div>
      <!-- list item middle details -->
      <div class="d-flex justify-content-around list-items">
        <div>
          {{ item.pending }}
          <br />
          <span class="list-font">PENDING</span>
        </div>
        <div class="divide"></div>
        <div>
          {{ item.picked }}
          <br />
          <span class="list-font">PICKED</span>
        </div>
        <div class="divide"></div>
        <div>
          {{ item.notFound }}
          <br />
          <span class="list-font">NOT FOUND</span>
        </div>
        <div class="divide"></div>
        <div>
          {{ item.quantity }}<br />
          <span class="list-font">QTY</span>
        </div>
      </div>
    </mat-card>
  </div>
</div>
